{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
    <h1>Liste des livres</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date de parution</th>
                <th>Catégories</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.description }}</td>
                <td>{{ livre.dateParution ? livre.dateParution|date('Y-m-d') : '' }}</td>
                <td>
                    {% for categories in livre.getCategories() %}
                        {{ categories.getStyle() }}
                        <br />
                    {% endfor %}
                    </td>
                <td>
                    <a href="{{ path('app_livre_show', {'id': livre.id}) }}">Montrer</a>
                    <a href="{{ path('app_livre_edit', {'id': livre.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Non trouvé
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_livre_new') }}">Ajouter un nouveau livre</a>
{% endblock %}
