{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>

    <p>Modifier une catégorie pour ajouter un livre à cette dernière</p>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Style</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.style }}</td>
                <td>{{ categorie.description }}</td>
                <td>
                    <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}">Montrer</a>
                    <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_new') }}">Ajouter une nouvelle catégorie</a>
{% endblock %}
