{% extends 'base.html.twig' %}

{% block title %}
    Hello!
{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>
            Hello
        </h1>

        {% if app.user %}
    <a href="{{ path('app_logout') }}">Se déconnecter</a><br>
{% else %}
    <a href="{{ path('app_login') }}">Se connecter</a><br>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_admin') }}">Admin</a><br>
{% endif %}


            Liste des livres :
                            
            <ul>
                {% for livre in livres %}
                <li><a href="{{ path('app_livre_for_user', { id: livre.id }) }}">{{ livre.Titre }}</a> : - {% for categories in livre.getCategories() %}
                    {{ categories.getStyle() }} -  
                  {% endfor %}</li>
                {% endfor %}
            </ul>

    </div>
{% endblock %}
                