{% extends 'base.html.twig' %}

{% block title %}
    Hello!
{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>
        Bienvenue {% if app.user%} {{app.user.email}} {% endif %}
        </h1>

    <h3>Liste des livres</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Date de parution</th>
                    <th>Catégories</th>
                </tr>
            </thead>
            <tbody>
            {% for livre in livres %}
                <tr>
                    <td><a href="{{ path('app_livre_for_user', { id: livre.id }) }}">{{ livre.titre }}</a></td>
                    <td>{{ livre.description }}</td>
                    <td>{{ livre.dateParution ? livre.dateParution|date('Y-m-d') : '' }}</td>
                    <td>
                        {% for categories in livre.getCategories() %}
                            {{ categories.getStyle() }}
                            <br />
                        {% endfor %}
                        </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
                