{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
    <h1>Livre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ livre.description }}</td>
            </tr>
            <tr>
                <th>Date de parution</th>
                <td>{{ livre.dateParution ? livre.dateParution|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Catégories </th>
                <td>- {% for categories in livre.getCategories() %}
                {{ categories.getStyle() }} -  
                {% endfor %}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dashboard') }}">back to list</a>
{% endblock %}
